/* normalisation de ma page RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #333;
    overflow: hidden;
}

header h1 {
    float: left;
    padding: 1.23rem;
    color: white;
}

header h1 a {
    color: white;
    text-decoration: none;
}

nav {
    float: right;
}

ul li a {
    color: white;
    display: inline-block;
    padding: 2rem;
    text-decoration: none;
}

ul li a:hover {
    background-color: #444;
}

ul li {
    display: inline;
}

.frame {
    background-image: url(/cafe-html-css/src/img/frame.jpg);
    background-size: cover;
    padding: 18rem 40rem 15rem 40rem;
}

.frame div {
    text-align: center;
}

.frame div h2 {
    color: white;
    font-size: 3rem;
}

.frame div hr {
    background-color: black;
    height: 1rem;
    width: 9rem;
    display: inline-block;
    margin-top: 2rem;
}

.premierP {
    color: white;
    margin-top: 2rem;
    font-size: 1rem;
}

button {
    margin-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 17% / 50%;
    border-style: none;
    text-transform: uppercase;
}

.découvrir:hover {
    color: white;
    background-color: #333;
}

.global {
    display: flex;
}

.cols {
    flex: 1;
    padding: 9rem;
    text-align: center;
    font-size: 1.5rem;
}

.sourire {
    background-image: url(/cafe-html-css/src/img/person-1.jpg);
    background-size: cover;
    background-position: center;
    padding: 18rem;
}

.last {
    text-align: center;
}

.last div {
    padding: 10rem;
    font-size: 1.5rem;
}

.réserver {
    background-color: #333;
    color: white;
}

.réserver:hover {
    background-color: white;
    color: black;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    color: white;
}


/* Page ou nous trouver */

.global2 {
    display: flex;
}

.map {
    padding: 16rem;
}

iframe {
    border-radius: 10%;
    margin-top: -3rem;
    margin-left: 5rem;
}

.cols2 {
    margin-top: 13rem;
    margin-left: -6rem;
    font-size: 2rem;
}

.line {
    border-top: 1px solid black;
    width: 100%;
    margin-top: 2rem;
}

.paragraphe2 {
    font-weight: bold;
    margin-top: 2rem;
}

.paragraphe3 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

.quatre {
    color: white;
    background-color: mediumvioletred;
    border-radius: 100%;
    width: 2.5rem;
    display: inline-block;
    text-align: center;
}

.onze {
    color: white;
    background-color: brown;
    border-radius: 100%;
    width: 2.5rem;
    display: inline-block;
    text-align: center;
}

.contact div h3 {
    font-size: 2rem;
    margin-top: 9rem;
}

label,
input,
.submit,
textarea {
    display: block;
    margin-top: 1.5rem;
}

label {
    font-weight: bold;
}

.line2 {
    border-top: 1px solid black;
    width: 54%;
    margin-top: 2rem;
    margin-left: 25rem;
}

.contact h3,
form {
    margin-left: 25rem;
}

.submit {
    margin-bottom: 7.1rem;
    font-weight: bold;
    background-color: #333;
    color: white;
}